/vendor/
/node_modules/
/frontend/node_modules/
/frontend/dist/
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/statamic/*
!/storage/statamic/.gitignore
/.env
/.DS_Store
/public/hot
/public/storage
/cloud-sql-proxy
/liox_production
