/vendor/
/node_modules/
/frontend/node_modules/
/frontend/dist/
/bootstrap/cache/*.php
/storage/logs/*.log
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/forms/*
!/storage/forms/.gitignore
/storage/redirect/*
!/storage/redirect/.gitignore
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/statamic/*
!/storage/statamic/.gitignore
/public/vendor/
/public/cp/
/public/build/
/.env
/.DS_Store
/public/hot
/public/storage
/cloud-sql-proxy
/liox_production
